h2 {
  color: blue;
}

.first {
  color: black;
}

.second {
  color: black;
}

.third {
  color: black;
}


.fourth {
  color: black;
}

.fifth {
  color: black;
}

.sixth {
  color: black;
}

.seventh {
  color: black;
}

.eighth {
  color: black;
}

.ninth {
  color: black;
}



#approach-answer {
  display: none;
}

#run-answer {
  display: none;
}


#go-answer {
  display: none;
}

#question-answer {
  display: none;
}

#upstairs-answer {
  display: none;
}

#explore-answer {
  display: none;
}

#check-answer {
  display: none;
}

#smoke-answer {
  display: none;
}
