
* {
    background-color: #FEFAF9;
    font-family: Roboto, sans-serif;
  }

html {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /* border: red 1px solid; */
}

.brand {
  font-size: 1.8em;
  border: 5px blue solid;
  margin-top: 50px;

}

.highlight {
  text-decoration: bold;
  color: blue;
}



/* .container > ul > li {
  max-width: 960px;
  margin: 0 auto;
} */

.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 50px;
  width: 100vw;
  border: red 1px solid;
  margin: 0 auto;
}

#navbar-items li {
  list-style-type: none;
  display: inline;
  padding: 0px;
  margin: 5% 4% 0% 0%;
  position: relative;
}

.navbar .dropdown {
  /* this hides the dropdown menu by default */
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
}

.navbar a:hover + .dropdown {
  display: block; // shows the any dropdown that is a direct sibling of a hovered anchor tag in the navigation bar
}

.navbar > ul.container {
  //these styles will extend the styles already contained in the .container class
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content {
  font-family: Raleway;
  font-size: 40px;

}

.content-area {
  padding: 40px;
  margins: 20px;
}

.footer {
}

h1 {
  text-style: bold;
}

img {
  height: 180px;
  width: 170px;
  border-radius: 10px;
}

#Facts{
  color: darkBlue;
  background-color: honeydew;

}

#img {
  border-radius: 25px;
  width: 14.8em;
  height: 10em;
  border: 10px darkBlue solid;
}




#btn {
  display: block;
  text-align: center;
}
